.main {
    padding: 2em 0;
    text-align: center;
}
.main h1 {
    margin:1em;
}
.main div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.main p {
    margin: 1em;
    max-width: 300px;
}
.main button {
    font-weight: 700;
    padding: 5px 10px;
    text-transform: uppercase;
    background-color: rgb(233, 167, 81);
}