.main {
    display: flex;
    max-width: 100%;
    color: #454545;
    font-weight: 500;
    text-transform: uppercase;
    justify-content: center;
    border-top: solid 2px #e1e1e1;
    box-shadow: #e1e1e1 -1px 2px;
}
.main a {
    margin: 25px;
    cursor: pointer;
}
.main div:hover {
    color: #000;
}