.main {
    margin: 50px auto;
    width: 90vw;
    max-width: 750px;
}
.mainImage {
    margin: 25px 0;
    width: 100%;
    height:auto;
}
.body p {
    font-size: 1.2rem;
    line-height: 40px;
    letter-spacing: 1.5px;
}
.body h2, .body h3 {
    margin: 0 1em;
    font-size: 1.4rem;
    margin: 20px 0;
}